

.testimonials_holder .flex-direction-nav a {
width: 32px;
height: 32px;
}
.testimonials_holder .flex-direction-nav a:before {
font-size: 20px;
left: 11px;
height: 0px;
width: 0px;
}

.testimonials_holder .flex-direction-nav a:hover {
background-color: #ffcc00;
border: 2px solid #ffcc00;
}
.flex-direction-nav a {
margin: -23px -1px 0;
}
.q_counter_holder p.counter_text {
line-height: 35px;
margin: 22px 0 0 0;
}

.footer_top .widget_nav_menu ul li {
padding: 0;
}
.footer_top h5 {
margin: 0;
}

.wpcf7 form.wpcf7-form p {
margin-bottom: 10px;
}

.footer_top .footer_col3 .wpcf7 {
text-align: right; 
}
.footer_top .footer_col3 .wpcf7 img.ajax-loader {
display: none;
}
.q_icon_with_title .icon_with_title_link {
font-size: 12px;
font-weight: 600;
margin: 24px 0 0;
}
.q_icon_with_title .icon_with_title_link:hover {
color: #ffcc00 !important;
}
.header_top {
overflow: hidden;
}
.header_bottom_right_widget_holder {
    padding-right: 0;
}
.header_top {
line-height: 53px;
}

 header.sticky .header_bottom .qode_icon_shortcode span {
color: #222 !important;
}

header.sticky .header_bottom .qode_icon_shortcode span:hover {
color: #ffcc00 !important;
}

.title.title_size_large h1 {
letter-spacing: -1px;
}
.title .separator.small {
margin-top: 3px;
}
.filter_holder {
padding-top: 7px;
}

.q_dropcap{
margin: 0px 18px 0px 0px;
}

.projects_holder article .portfolio_description {
padding: 27px 0 22px;
}

 .projects_holder article .feature_holder .feature_holder_icons a.preview:hover {
background-color: #fff;
color: #303030;
}

.qode_portfolio_related h4 {
font-weight: 700;
font-size: 23px;
letter-spacing: -1.3;
}

@media only screen and (max-width: 768px) {
.title.title_size_large h1 {
font-size: 40px!important;
line-height: 46px!important;
}
.title.title_size_medium h1 {
font-size: 36px!important;
line-height: 45px!important;
}
.footer_responsive_adv .footer_top .four_columns .column1,
.footer_responsive_adv .footer_top .four_columns .column2,
.footer_responsive_adv .footer_top .four_columns .column3,
.footer_responsive_adv .footer_top .three_columns .column1,
.footer_responsive_adv .footer_top .three_columns .column2,
.footer_responsive_adv .footer_top .two_columns_50_50 .column1,
.footer_responsive_adv .footer_top .two_columns_50_50 .column2 {
    margin: 0 0 50px;
}
}

@media only screen and (max-width: 480px) {
.title.title_size_large h1 {
font-size: 32px!important;
}
.title.title_size_medium h1 {
font-size: 27px!important;
line-height: 28px!important;
}
}

.comment_holder .comment {
    padding: 34px 25px 37px;
    background-color: #f9f9f9;
}

.comments .comment .text .comment_date {
    font-size: 12px;
    font-weight: 500;
    color: #303030;
}

.comments .comment .text .text_holder {
    margin: 13px 0 0;
}

.icon_social_holder>div {
    font-weight: 500;
}