@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
						.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:100px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
			h2 {
			font-size: 32px; 			line-height: 36px; 		    		}
	
			h3 {
			font-size: 23px; 			line-height: 26px; 		    		}
	
			h4 {
			font-size: 18px; 			line-height: 32px; 		    		}
	
	
	
	
	
	}
@media only screen and (max-width: 600px) {
	
			h2 {
			font-size: 29px; 			line-height: 33px; 		    		}
	
			h3 {
			font-size: 20px; 			line-height: 24px; 		    		}
	
			h4 {
			font-size: 16px; 			line-height: 28px; 		    		}
	
	
	
			body,
		p {
			font-size: 13px; 					    		}
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}